main section .container-1{
    width: 380px;

}
main section div h1{
    font-size: 65px;
    color: aqua;
}
main section div h2{
    font-size: 30px;
    color: aquamarine;
}
main section div p{
    font-size: 25px;
    color: aliceblue;
}
#tec{
    margin-left:20px ;
}
#tec-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardes-tec{
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.cardes-tec:hover{
    background: azure;
    cursor: pointer;
}
.tecnologias{
    width: 60px;
}
.projets{
    width: 1150px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Projetos{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
}
.img-projets{
    width: 100px;
    margin: 0 20px 0 0 ;
}
.titulo-projets{
    color: black;
    font-size: 20px;
}
.descric-projets{
    color: black;
    font-size: 14px;
}
